.container {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pgnametxt {
    text-align: center;
}

.shortline {
    margin-left: 30%;
    align-items: center;
    width: 40%;
}

.txt {
    align-items: center;
    font-size: 75%;
    margin-left: 30%;
    width: 40%;
}

.btn {
    align-items: center;
    margin-top: 1%;
    margin-left: 30%;
    width: 40%;
    height: 5vh;
    background-color: lightgray !important;
    color: gray !important;
}

.btn:hover {
    background-color: #FFB0B0 !important;
    color: white !important;
}